.home-container {
  display: flex;
  height: 100vh;
}

.left-side {
  background-color: #00bfff; /* blue */
  flex: 1;
}

.right-side {
  background-color: #ffa07a; /* coral */
  flex: 1;
}

.download-links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
}

.download-button-ios {
  background-color: black; /* blue */
  color: white;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.download-button-android {
  background-color: black; /* green */
  color: white;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50%;
}

.app-header-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.app-title {
  font-size: 4rem;
  margin-top: 2rem;
  font-family: "Buenos Aires";
}

.app-logo {
  width: 200px;
  height: 200px;
  margin-top: 2rem;
}

.appDescription {
  font-size: 1.5rem;
  margin-top: 2rem;
  font-family: "Buenos Aires";
}

.landingHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100px;
}

.landingHeader1 {
  width: 80%;
  /* background-color: blue; */
}

.landingHeader2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  /* background-color: red; */
}

.centerRecent {
}

.recentQuestionsFont {
  font-family: "Buenos Aires";
  font-size: 22px;
}

.recentQuestionsContainer {
  position: absolute;
  left: 15%;
  display: flex;
  width: 80vw;
  height: "100%";
  /* background-color: red; */
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.recentQuestionsContainer div {
  margin: 20px;
  padding: 10px;
  background-color: white;
}

.statsCount {
  font-size: 22px;
  font-family: "Buenos Aires";
}
